/.venv
/Data/Dataset
/Data/RobotFlow_Dataset
/Data/Video
/Data/YOLO_Training
/Output/Testing
/Output/Output_01.avi
/Output/Output_02.avi
/Output/Output_03.avi
/Output/Output_04.avi
/Output/Output_05.avi
/Output/Output_06.avi
/Project_Documents
/Requirements/best.pt
/Requirements/latest_best.pt
/Requirements/new_best.pt
/Requirements/new_best_2nd_dec.pt
/Requirements/yolo11x.pt
/Requirements/yolov8m.pt
/Requirements/yolov8x.pt
/Requirements/yolov10n.pt
